<div class="row justify-content-center bg-secondary bg-opacity-75 rounded-5">

  {{! title }}
  <div class="col-9 d-flex justify-content-center">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Add Title Here"
        id="addTitleInput"
      />
    </div>
  </div>

  {{! description }}
  <div class="col-9 d-flex justify-content-center">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Add Description Here"
        id="addDescInput"
      />
    </div>
  </div>

  <div class="col-12 d-flex justify-content-center">
    <button id="submitPostButton" type="button" class="btn btn-dark m-3">Create
      Post</button>
  </div>
</div>