<!-- Custom styles for this template -->
<main>
  <div class="row">
    {{!-- {{each blogs as |blog|}} --}}
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.{{blog.comment}}
          </p>
          <a href="#!" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
    {{!-- {{/each}} --}}
  </div>
</main>